
body {
    background-color: #3d3d3d;
    background-image: url("https://wallpaperaccess.com/full/313268.jpg");     
    background-size: cover;
}

.box1{

    margin: 100 auto;
    width: 350px;
    height: 500px;
    background-color: #1b7fde;
    border-radius: 3px;

}

table.variables  {
    width: 100%;
    border-collapse: collapse;
    text-align: center;

}

table.variables th {
    font-size: 2em;
    color: #ccc; 
    text-align:center;
}

table.variables  td {
  padding: 8px;
  text-align: left;
  border-bottom: 2px solid #ddd;
  font-size: 1.2em;
  color: #ccc; 
  border-collapse: collapse;
  
}

.tag{
    color: #ccc; 
    font-size:1.2em;
    text-align: left;
    border-bottom: 2px solid #ddd;
    display:inline-block;
}

.icon{
    padding: 8px;
    font-size: 1.2em;
    color: #ccc; 
    border-collapse: collapse;
    display:inline-block;
}

.card-header.collapsed {
    color:#ccc;
}
.card-header:not(.collapsed) {
    color:white;
}

.card a{
    color:white;
}

